.productscard{
    margin-top: 10;
    
    display: flex;
    flex-shrink: initial;
    font-family: 'Ubuntu', sans-serif;
    gap: 4rem;
}
.rankingcard{
    margin-top: 10;
    
    display: flex;
    flex-direction: column;
    flex-shrink: initial;
    font-family: 'Ubuntu', sans-serif;
    gap: 4rem;
}
.buttonsmovie{
    margin-top: 70;
    margin-left: '-10%';
    display: flex;
    flex-direction: row;
    
    font-family: 'Ubuntu', sans-serif;
    gap: 7rem;
}
.container{
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.row{
    margin-top: 5%;
    margin-bottom: 3%;
}
.buttons{
    justify-content: center;
    align-self: center;
    align-content: center;
    text-align: center;

}